* {
    margin :0;
    padding:0;
}

body {
    margin-top: 20px;
    display: flex;
    background: rgb(13, 7, 37);
    justify-content: center; 
    min-height: 500px;
    color: white;
}
#conversor {
    background: rgb(37, 48, 99);
    width: 350px;
    height: 150px;
    display: grid;
    padding: 20px;
    border-radius: 10px;
}

section {
    display: flex;
    align-items: center;
}

section > div > div {
    margin-bottom: 5px;
}

aside {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

button {
    cursor: pointer;
}

