* {
    margin :0;
    padding:0;
}

body {
    font-family: Tahoma, sans-serif;
    margin-top: 20px;
    display: flex;
    background: rgb(13, 7, 37);
    justify-content: center; 
    min-height: 500px;
    color: white;
}
#conversor {
    background: rgb(37, 48, 99);
    width: 350px;
    height: 150px;
    display: grid;
    padding: 30px;
    border-radius: 10px;
}

section {
    display: flex;
    align-items: center;
}

section > div > div {
    margin: -10px 0 5px 0;
}

aside {
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 3px;
}

button {
    cursor: pointer;
}

#info {
    display: flex;
    justify-self: center;
    margin-top: 30px;
}

#info > p:hover {
    color:red;
}
